.cover__buy-button{
  width: 137px;
  height: 48px;    
  background: #0278FE;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 2;
}