.places__website{
  width: 100%;
  padding: 0;
  margin: auto 0 0 0;
  grid-area: website;
}

@media screen and (max-width: 530px){
  .places__website{
    max-width: 288px;
    padding: 0 16px;
  }
}
