.cover__link{
  width: 100%;
  max-width: 1184px;
  height: 740px;
  background-image: url("../../../images/cover-background.jpg");
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .cover__link{
    max-width: 768px;
    height: 746px;
  }
}

@media screen and (max-width: 320px){
  .cover__link{
    max-width: 320px;
    height: 254px;
  }
}