.cover__backgroung-overlay{
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  background: #2A2C2F;
  opacity: .3;
  position: absolute;
  z-index: 1;
}

.cover:hover .cover__backgroung-overlay{
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .cover__backgroung-overlay{
    max-width: 768px;
    min-height: 746px;
  }
}

@media screen and (max-width: 320px){
  .cover__backgroung-overlay{
    max-width: 320px;
    min-height: 254px;
  }
}
